@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-10px); }
    to { opacity: 1; transform: translateX(0); }
}

.word {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-fill-mode: forwards;
  }

/* Adjust the animation delay for each word */
.word:nth-child(1) { animation-delay: 0s; }
.word:nth-child(2) { animation-delay: 0.5s; }
.word:nth-child(3) { animation-delay: 1s; }
.word:nth-child(4) { animation-delay: 1.5s; }
.word:nth-child(5) { animation-delay: 2s; }
/* Add more nth-child rules for additional words */

/* Style for the container */
.sentence-container {
    font-size: 50px;
    color: rgb(153, 77, 77);
     font-family :Fontone;
     margin-top: 50px;
  }



 
.container {
    text-align: center;
    margin: 25px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  
  
  .letter-animation {
    font-size: 35px;
    color: red;
    font-family :Fontone;
    

}

.letter-animation span {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    animation: appear 0.5s forwards;
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.letter-animation span:nth-child(1) { animation-delay: 0.5s; }
.letter-animation span:nth-child(2) { animation-delay: 1s; }
.letter-animation span:nth-child(3) { animation-delay: 1.5s; }
.letter-animation span:nth-child(4) { animation-delay: 2s; }
.letter-animation span:nth-child(5) { animation-delay: 2.5s; }
.letter-animation span:nth-child(6) { animation-delay: 3s; }
.letter-animation span:nth-child(7) { animation-delay: 3.5s; }
.letter-animation span:nth-child(8) { animation-delay: 4s; }
.letter-animation span:nth-child(9) { animation-delay: 4.5s; }
.letter-animation span:nth-child(10) { animation-delay: 5s; }
.letter-animation span:nth-child(11) { animation-delay: 5.5s; }
.letter-animation span:nth-child(12) { animation-delay: 6s; }
.letter-animation span:nth-child(13) { animation-delay: 6.5s; }


.sentenses{
    display: flex;
    flex-direction: column;
}

/* image-loader.component.css */
.image-container {
    position: relative;
    width: auto; /* Adjust the width as needed */
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    display: block;
    opacity: 0;
    transition: 3s ease-in-out;
  }
  
  .image-container.loaded img {
    opacity: 1;
  }
  
  .hover-effect {
    transform: scale(1.2); /* Adjust the scale factor as needed */
    
  }
  