<ng-container>
  <div class="center">
    <div class="card green">
      <div class="additional">
        <div class="user-card">
          <div class="image-div">
            <img
            src="assets/Dig.jpg"
            class="profile-img"
             
            viewBox="0 0 250 250"
            aria-labelledby="title desc"
          />
          </div>
          <style>
            .skin {
              fill: #eab38f;
            }
            .eyes {
              fill: #1f1f1f;
            }
            .hair {
              fill: #2f1b0d;
            }
            .line {
              fill: none;
              stroke: #2f1b0d;
              stroke-width: 2px;
            }
          </style>
           <mat-chip style="margin-left: 35px; margin-top: 20px;">Raj</mat-chip>
        </div>
        <div style="margin-top: 20px" class="more-info">
          <div class="general">
            <p>
              Hi I'm Raj! 😈
              <strong style="font-size: medium">Full Stack Developer</strong>
              with robust industrial expertise and experience in both front-end
              and back-end technologies. Ready to help or discuss anything
              tech-related! 💻🚀
            </p>
            <div>
              <mat-chip-listbox>
                <mat-chip>Angular</mat-chip>
                <mat-chip>Java</mat-chip>
                <mat-chip>Java Script</mat-chip>
                <mat-chip>spring boot</mat-chip>
                <mat-chip>MySQL</mat-chip>
                <mat-chip>Postgresql</mat-chip>
                <mat-chip>Flutter</mat-chip>
                <mat-chip>.Net</mat-chip>
              </mat-chip-listbox>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px" class="general">
        <p>
          Hi I'm Raj! 😈
          <strong style="font-size: medium">Full Stack Developer</strong> with
          robust industrial expertise and experience in both front-end and
          back-end technologies. Ready to help or discuss anything tech-related!
          💻🚀
        </p>
        <div>
          <mat-chip-listbox>
            <mat-chip>Angular</mat-chip>
            <mat-chip>Java</mat-chip>
            <mat-chip>Java Script</mat-chip>
            <mat-chip>spring boot</mat-chip>
            <mat-chip>MySQL</mat-chip>
            <mat-chip>Postgresql</mat-chip>
            <mat-chip>Flutter</mat-chip>
            <mat-chip>.Net</mat-chip>
          </mat-chip-listbox>
        </div>
        <span class="more"></span>
      </div>
    </div>

    <!--Kabir-->
    <div class="card green">
      <div class="additional">
        <div class="user-card">
            <div class="image-div">
          <img
            src="assets/kabir.jpg"
            class="profile-img"
             
            viewBox="0 0 250 250"
            aria-labelledby="title desc"
          /></div>
          <style>
            .skin {
              fill: #eab38f;
            }
            .eyes {
              fill: #1f1f1f;
            }
            .hair {
              fill: #2f1b0d;
            }
            .line {
              fill: none;
              stroke: #2f1b0d;
              stroke-width: 2px;
            }
          </style>
           <mat-chip style="margin-left: 32px; margin-top: 20px;">Kabir</mat-chip>
        </div>
        <div style="margin-top: 20px" class="more-info">
          <div class="general">
            <p>
              Hey I'm Kabir! 👋<strong style="font-size: medium">
                Full Stack Developer</strong
              >, I have solid industrial knowledge and expertise in both
              front-end and back-end technologies make your dynamic force in the
              tech world. 💻🚀
            </p>
            <div>
              <mat-chip-listbox>
                <mat-chip>Angular</mat-chip>
                <mat-chip>React</mat-chip>
                <mat-chip>Java</mat-chip>
                <mat-chip>Java Script</mat-chip>
                <mat-chip>Express Js</mat-chip>
                <mat-chip>Node Js</mat-chip>
                <mat-chip>Mongo DB</mat-chip>
                <mat-chip>Android</mat-chip>
                <mat-chip>MySQL</mat-chip>
              </mat-chip-listbox>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px" class="general">
        <p>
          Hey I'm Kabir! 👋
          <strong style="font-size: medium">Full Stack Developer</strong>, I
          have solid industrial knowledge and expertise in both front-end and
          back-end technologies make your dynamic force in the tech world. 💻🚀
        </p>
        <div>
          <mat-chip-listbox>
            <mat-chip>Angular</mat-chip>
            <mat-chip>React</mat-chip>
            <mat-chip>Java</mat-chip>
            <mat-chip>Java Script</mat-chip>
            <mat-chip>Express Js</mat-chip>
            <mat-chip>Node Js</mat-chip>
            <mat-chip>Mongo DB</mat-chip>
            <mat-chip>Android</mat-chip>
            <mat-chip>MySQL</mat-chip>
          </mat-chip-listbox>
        </div>
        <span class="more"></span>
      </div>
    </div>

    <!--Laxane-->
    <div class="card green">
      <div class="additional">
        <div class="user-card">
            <div class="image-div">
          <img
            src="assets/Myphoto.jpg"
            class="profile-img"
             
            viewBox="0 0 250 250"
            aria-labelledby="title desc"
          /></div>
          <title id="title"> </title>
          <style>
            .skin {
              fill: #eab38f;
            }
            .eyes {
              fill: #1f1f1f;
            }
            .hair {
              fill: #2f1b0d;
            }
            .line {
              fill: none;
              stroke: #2f1b0d;
              stroke-width: 2px;
            }
          </style>
         <mat-chip style="margin-left: 42px; margin-top: 20px;">Lx</mat-chip>

        </div>
        <div style="margin-top: 20px" class="more-info">
          <div class="general">
            <p>
              Hey Lx! 🚀
              <strong style="font-size: medium">Full Stack Developer</strong>
              with hands-on industrial flair here! Ready for any tech talk or
              problem-solving. Let's craft code wonders together! 💻✨
            </p>
            <div>
              <mat-chip-listbox>
                <mat-chip>Angular</mat-chip>
                <mat-chip>Java</mat-chip>
                <mat-chip>Java Script</mat-chip>
                <mat-chip>Express Js</mat-chip>
                <mat-chip>Node Js</mat-chip>
                <mat-chip>Mongo DB</mat-chip>
              </mat-chip-listbox>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px" class="general">
        <p>
          Hey Lx! 🚀
          <strong style="font-size: medium">Full Stack Developer</strong> with
          hands-on industrial flair here! Ready for any tech talk or
          problem-solving. Let's craft code wonders together! 💻✨
        </p>
        <div>
          <mat-chip-listbox>
            <mat-chip>Angular</mat-chip>
            <mat-chip>Java</mat-chip>
            <mat-chip>Java Script</mat-chip>
            <mat-chip>Express Js</mat-chip>
            <mat-chip>Node Js</mat-chip>
            <mat-chip>Mongo DB</mat-chip>
          </mat-chip-listbox>
        </div>
        <span class="more"></span>
      </div>
    </div>
  </div>
</ng-container>
